[uwsgi]
master = true
chdir = /home/{{ app_user }}/site/
home = /home/{{ app_user }}/venv/

socket = /tmp/{{ app_name }}.sock
chmod-socket = 777
module = {{ app_name }}.wsgi
env = DJANGO_SETTINGS_MODULE={{ app_name }}.settings
{% if vagrant_mode == 1 %}
py-autoreload = 3
{% endif %}

no-orphans = true
post-buffering = 32768

enable-threads = true
processes = {{ uwsgi_processes }}

harakiri = 60
harakiri-verbose = true
limit-as = 512

vacuum = true

log-date = true

stats = 127.0.0.1:9191
touch-reload = /tmp/{{ app_name }}.touch
