[program:{{ app_name }}]
user={{ app_user }}

command=/usr/local/bin/uwsgi /home/{{ app_user }}/uwsgi.ini

stdout_logfile=/home/{{ app_user }}/logs/uwsgi.log
sterr_logfile=/home/{{ app_user }}/logs/uwsgi_err.log

autostart=true
autorestart=true
redirect_stderr=true

stopwaitsecs = 60
stopsignal=INT

[program:{{ app_name }}_celery]
user={{ app_user }}
directory=/home/{{ app_user }}/site/

command=/home/{{ app_user }}/venv/bin/celery -A {{ app_name }} worker -l info

stdout_logfile=/home/{{ app_user }}/logs/celery.log
sterr_logfile=/home/{{ app_user }}/logs/celery_err.log

autostart=true
autorestart=true
redirect_stderr=true

stopwaitsecs = 60
stopsignal=INT
