# {{ ansible_managed }}

server {
    listen 80;
    server_name ropecourses.online;

    access_log  /home/{{ app_user }}/logs/nginx.log;
    error_log   /home/{{ app_user }}/logs/nginx_err.log;

    location / {
        uwsgi_pass unix:/tmp/{{ app_name }}.sock;
        include uwsgi_params;
    }

    location ~ ^/(static|uploaded)/ {
        root /home/{{ app_user }}/site/public/;
        access_log off;
        expires 30d;
    }
}
