# {{ ansible_managed }}

server {
    access_log /home/vagrant/logs/nginx.access.log;
    error_log /home/vagrant/logs/nginx.error.log;

    location / {
        uwsgi_pass unix:/tmp/{{ app_name }}.sock;
        include uwsgi_params;
    }

    location /static/admin/ {
        sendfile off;
        alias /home/vagrant/venv/lib/python2.7/site-packages/django/contrib/admin/static/admin/;
    }

    location /static/ {
        sendfile off;
        alias /home/vagrant/site/staticfiles/;
    }

    location /uploaded/ {
        sendfile off;
        alias /home/vagrant/site/public/uploaded/;
    }

}